*{
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: #205295;
     
}

.heading{
    padding: 1rem;
    text-align: center;
    color: white;
}

.from_container{
    border: 1px solid black;
    border-radius: 15px;
    background-color: white;
    margin: 1% 30% ;
    padding: 2% 5%;
}
.signUpFiled{
    display: none;
}

.form_heading{
    text-align: center;
}